# Ignore all bazel-* symlinks. There is no full list since this can change
# based on the name of the directory bazel is cloned into.
/bazel-*

# Compiled libraries.
**/*.a
**/*.so

# Bazel cache.
/.cache/

# Generated vscode files.
**/.vscode/

# emacs stuff
*~

# intellij
.ijwb/

# python venv
venv/
